<h1>「<%= @q %>」の検索結果</h1>

<%= render partial: "search/search_form" %>

<% if @search_results.present? %>
  <% @search_results.each do |result| %>
    <% if result.is_a?(User) %>
      <h2>ユーザー検索結果</h2>
      <% img = result.profile_image? ? result.profile_image_url : "default.png" %>
      <% link = current_user && current_user == result ? profile_path : user_path(result) %>
      <%= link_to image_tag(img, size: "20x20"), link %>
      <%= link_to result.username, link %>
    <% else %>
      <%= link_to result.title, post_path(result) %>
    <% end %>
  <% end %>
<% else %>
  <p>検索結果がありません。</p>
<% end %>